<h1>Le match <%- match.formated.teams %></h1>

<div class="card">
  <div class="teams">
    <%- match.formated.teams %>
  </div>

  <% if (match.played) { %>
    <div class="scores">
      <%- match.formated.scores %>
    </div>

  <% } %>

  <div class="date">
    <%- match.formated.date %>
  </div>

  <div class="venue">
    <%- match.formated.venue %>
  </div>
</div>

 <%-  include('comments') %>
